a{
    cursor: pointer;
}
.navbar{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px;
    z-index:2; /*Add this*/
    
}
li a{
  
    font-family: 'Acme', sans-serif;

}
.loginBtn{
    background-color: rgb(255, 255, 255);
    width: 80%;
    position: relative;
    left: 10%;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px 0px;
    border-radius: 5px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    transition: all 0.3s ease-out 0s;
}
.login001{
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.login002{
    display: flex;
}
.loginText{
    font-size: 20px;
    padding: 10px;
    color: grey;
    font-family: BrandonTextWeb-Medium, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
.mailIcon{
    margin-top: 13px;
}
.brand-name{
    font-family: 'Patrick Hand', cursive;
}
.brand-caption{
    color: indianred;
    font-size: 2em;
    margin: 0 !important;
}
.class-name{
    color: indianred !important;
}
/* li.active a{
    color: indianred !important;

} */
.brand-header{
    display: inline-block;
    padding: 10px;
    font-family: 'Patrick Hand', cursive;
    color: indianred;
}