<!-- <div style="margin-top: 30px;" id="cover">
  <div class="row">
    <div class="col-lg-12">
      <div id="content">
          <h1 id="brand-title">Bingo!</h1>
          <h3 id="brand-caption">Rent.Ride.Return</h3>
          <button class="btn btn-danger btn-lg" id="started-btn">Get Started!</button>
      </div>
    </div>
  </div>
</div> -->

<section id="header">
  <div id="landing-header" class="text-center">
    <h1 id="brand-title">Bingo!</h1>
    <h3 id="brand-caption">Rent.Ride.Return</h3>
    <button class="btn btn-danger btn-lg" id="started-btn">Get Started!</button>
   </div>
   <ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</section>

<section id="body">
    <div class="container" id="uses">
        <h1 id="why-title">Why Bingo?</h1>
      <div class="row">
        <div class="col-md-4">
          <img src="../../assets/images/bike-ride.jpg" width="300" height="250" />
          <div id="use">
              <h2 class="text-center">Quick</h2>
              <p id="inner-use" class="text-center">Pick and drop anywhere.No more long waits for cabs.</p>
          </div>
        </div>
        <div class="col-md-4">
          <img src="../../assets/images/save-money.png" width="250" height="250" />
          <div id="use">
            <h2 class="text-center">Economical</h2>
            <p id="inner-use" class="text-center">We are the most affordable short commute option in the city.Our rides are easy on your pockets</p>
          </div>
        </div>
        <div class="col-md-4">
          <img src="../../assets/images/fuel.jpg" width="250" height="250" />
          <div id="use">
              <h2 class="text-center">Fuel Included</h2>
              <p id="inner-use" class="text-center">Don't worry about fuel! If you refill fuel we will pay you back!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container" id="how-to-use">
      <h1 style="margin-bottom: 50px">How to start BinGoing?</h1>

      <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <!-- <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
          </ol>
         -->
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div id="steps" class="text-center">
                <img src="../../assets/images/auth.jpg" width="650" height="350"  />
                <div class="caption">
                    <h3 class="text-muted">Step 1</h3>
                    <p>Create an account with us by entering your basic details</p>
                </div>
              </div>
            </div>
        
            <div class="carousel-item">
              <div id="steps" class="text-center">
                <img src="../../assets/images/start-riding.jpg" width="650" height="350" />
                <div class="caption">
                    <h3 class="text-muted">Step 2</h3>
                    <p>Choose your bike and start riding</p>
                </div>
              </div>
            </div>
        
            <div class="carousel-item">
              <div id="steps" class="text-center">
                <img src="../../assets/images/invoice.png" width="650" height="350" />
                <div class="caption">
                    <h3 class="text-muted">Step 3</h3>
                    <p>End your trip and download your invoice to pay the seller</p>
                </div>   
              </div>
            </div>
            <div class="carousel-item">
                <div id="steps" class="text-center">
                  <img src="../../assets/images/feedback.jpg" width="650" height="350" />
                  <div class="caption">
                      <h3 class="text-muted">Step 4</h3>
                      <p>Tell us how your ride went</p>
                  </div>
                </div>
              </div>
          </div>
        
          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#myCarousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

    </div>
    <div id="testimonials">
      <div class="container">
          <h2 id="test-header" style="padding-top: 20px">Here's what our users have to say!</h2>
          <div class="row text-center">
            <div class="col-md-6" id="div1">
              <p id="para">"Awesome Experience with Bingo,a neat and clean user interface and great pricing compared to other options..Loving my rides with Bingo!"</p>
              <hr id="hr">
              <h3>Alfarhan Zahedi</h3>
              <h5>Customer</h5>
            </div>
            <div class="col-md-6" id="div2">
              <p id="para">
                 "The app and service is really awesome. In busy traffic, two wheeler ride is preferable to beat the traffic. this all comes in pocket friendly charges. overall experience is awesome"
              </p>
              <hr id="hr">
              <h3>Ratnesh Srivastava</h3>
              <h5>Customer</h5>
            </div>
          </div>
              <div id="div3" class="text-center">
                  <p id="para">"Great app to give your bikes on rent,
                     awesome user interface and helping me a lot in my finances...Will definitely recommend!"</p>
                  <hr id="hr">
                  <h3>Prakash Choudhary</h3>
                  <h5>Seller</h5>
              </div>
      </div>
    </div>
</section>

<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          <h1>Lets Get Goin' Shall We?</h1>
          <p class="text-muted" id="ride-para" >Rides starting at amazing discounts</p>
          <p id="get-para">Get in touch!</p>
          <p id="addr1">AMR Tech Park,Building 4A</p>
          <p id="addr2">11/1 Cross Street,Bomanahalli,Bengaluru 560068</p>
          <hr id="hr-footer">
          <div class="text-center">
              <i class="fa fa-google"></i>
              <i class="fa fa-facebook-square"></i>          
              <i class="fa fa-instagram"></i>
              <i class="fa fa-twitter"></i>
              <p id="copy">&copy;2019-Bingo!</p>
          </div>
      </div>
    </div>
  </div>
</section>
